$primary-color: #6366f1; // indigo
$secondary-color: #e5e7eb; // light gray

$nav-bg-color: #1f41d5; // near-black navy
$nav-link-color: #e5e7eb;
$nav-link-hover-color: #6366f1;

$main-bg-color: #f3f4f6; // soft light gray

$footer-bg-color: #1f41d5;
$footer-link-color: #e5e7eb;
$footer-link-hover-color: #6366f1;