$primary-color: #585aba;
$secondary-color: #6366f1;

$nav-bg-color: #6366f1;
$nav-link-color: #e5e7eb;
$nav-link-hover-color: #6366f1;

$main-bg-color: #f3f4f6;

$footer-bg-color: #6366f1;
$footer-link-color: #e5e7eb;
$footer-link-hover-color: #6366f1;