$primary-color: #3498ea;
$secondary-color: #f1f1f1;
$nav-bg-color: #d23a3a;
$nav-link-color: white;
$nav-link-hover-color: #3498ea;
$main-bg-color: #f9f9f9;
$footer-bg-color: #f1f1f1;
$footer-link-color: #333;
$footer-link-hover-color: #3498ea;