/* Footer */
footer {
  background-color: $footer-bg-color;
  padding: 15px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;

  p {
    margin: 0;
  }

  a {
    color: $footer-link-color;
    text-decoration: none;
    margin: 0 10px;

    &:hover {
      text-decoration: underline;
      color: $footer-link-hover-color;
    }
  }
}