name: Build and Deploy Websites

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      # Checkout main
      - name: Checkout repository
        uses: actions/checkout@v4

      # Set up Ruby for Jekyll
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'

      # Build Jekyll site
      - name: Build Jekyll Docs
        working-directory: docs-site
        run: |
          gem install bundler
          bundle install
          bundle exec jekyll build -d ../docs-build